<br>
<center>
  <div style="display: inline-block; vertical-align: middle;">
    <a href="{{ '/' | relative_url }}" class="title"><b>{{ site.title | upcase }}</b><br></a>
    <hr>
    <div style="text-align: justify; display: inline-block; width: 100%;">
      <a class="title" href="mailto:{{ site.email | default: 'leventkayadev@gmail.com' }}">CONTACT</a>&nbsp;&nbsp;&nbsp;
      <a class="title" href="{{ '/archive/' | relative_url }}">ARCHIVE</a>&nbsp;&nbsp;&nbsp;
      <a class="title" href="{{ site.feed.path | default: '/rss.xml' | relative_url }}">RSS</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
  </div>
</center>
<br><br>
