---
# Jekyll front matter for SCSS
---

/* ===============================
   FONT FACE
   =============================== */
@font-face {
  font-family: 'fabfont';
  src: url('{{ "/assets/font/DejaVuSansMono.woff2" | relative_url }}') format('woff2'),
       url('{{ "/assets/font/DejaVuSansMono.woff" | relative_url }}') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'fabfont';
  src: url('{{ "/assets/font/DejaVuSansMono-Bold.woff2" | relative_url }}') format('woff2'),
       url('{{ "/assets/font/DejaVuSansMono-Bold.woff" | relative_url }}') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: block;
}

/* ===============================
   BASE RESET
   =============================== */
* {
  font-size: 16px;
  box-sizing: border-box;
}

html {
  font-family: 'fabfont', 'DejaVu Sans Mono', 'Consolas', 'Monaco', 'Courier New', monospace;
  max-width: 900px;
  margin: 0 auto;
  padding-left: 2%;
  padding-right: 3%;
  background: #F5F5F0;
  line-height: 1.5;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
}

/* ===============================
   LINKS & TYPOGRAPHY
   =============================== */
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
  text-align: justify;
}

sup {
  vertical-align: 0.3em;
  font-size: 0.65em;
}

/* ===============================
   HEADINGS
   =============================== */
div.heading {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4ch;
}

h1, h2, h3, h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4ch;
}

/* ===============================
   CODE & PRE BLOCKS
   =============================== */
pre, code {
  font-family: 'fabfont', monospace;
}

pre {
  background-color: white;
  border: 1px solid black;
  padding: 1ch 2%;
  overflow-x: auto;
  white-space: pre;
}

code {
  background-color: #e1e1e1;
  border-radius: 0.5ch;
  padding: 0.2ch 0.4ch;
  font-weight: bold;
}

/* Inline code inside pre shouldn't have double background */
pre code {
  background: none;
  padding: 0;
  border-radius: 0;
  font-weight: normal;
}

/* ===============================
   IMAGES & MEDIA
   =============================== */
img, video, canvas, iframe {
  max-width: 100%;
  height: auto;
  display: block;
  box-sizing: border-box;
}

img {
  border: none;
  margin-bottom: 2ch;
}

img.pixel, canvas.pixel {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

/* For blog images inside posts */
.post img,
article img {
  border: 1px solid black;
  margin-bottom: 2ch;
}

/* ===============================
   BLOCKQUOTE
   =============================== */
blockquote {
  background-color: #f3f3f3;
  border: 1px dashed grey;
  width: 97.5%;
  font-style: italic;
  text-align: justify;
  padding: 2ch 1ch;
  margin: 0 0 2ch 0;
}
blockquote div {
  text-transform: none;
  text-align: right;
  width: 100%;
}

.sun {
  background: #ffee99;
  border-radius: 4px;
  padding: 0 2px;
}

/* ===============================
   TRIVIA BLOCK
   =============================== */
.trivia {
  border-left: 1px solid black;
  padding-left: 1ch;
}
.trivia::before {
  font-weight: bold;
  text-decoration: underline;
  padding-right: 1ch;
  content: "Trivia:";
}

/* ===============================
   FOOTER
   =============================== */
.footer {
  text-align: center;
  margin-top: 4ch;
  margin-bottom: 2ch;
  opacity: 0.7;
  font-size: 0.9em;
}

/* ===============================
   RESPONSIVE
   =============================== */
@media (max-width: 500px) {
  * {
    font-size: 12px;
  }
}

/* ===============================
  SYTAX STYLE START
=============================== */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #444444;
}
.highlight .cp {
  color: #CC00A3;
}
.highlight .cs {
  color: #CC00A3;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
  color: #FF0000;
}
.highlight .ge {
  font-style: italic;
}
.highlight .ges {
  font-weight: bold;
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc {
  color: #C34E00;
}
.highlight .kd {
  color: #0000FF;
}
.highlight .kr {
  color: #007575;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kt, .highlight .kv {
  color: #0000FF;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #009C00;
}
.highlight .sa {
  color: #0000FF;
}
.highlight .nb, .highlight .bp {
  color: #C34E00;
}

/* ===============================
  SYTAX STYLE END
=============================== */
